extends ./layout.pug
block contenido
	div(class="container")
		div(class="jumbotron")
			h2(class="text-center") Code Venezuela, your blog favorite
			p aca esta tu blog para aprender de codigo, si quieres ser redactor de este blog, escribenos a nuestro correo!