doctype html
html(lang='es')
	head
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/hover-min.css")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		title Code Venezuela
	body
		nav(class="navbar navbar-default navbar-static-top")
			div(class="container")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
						span(class="sr-only") Esta barra se despliega
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(href="/" class="navbar-brand mediano hvr-grow") Code Venezuela
				div(id="navbar" class="navbar-collapse collapse")
					ul(class="nav navbar-nav navbar-right")
						li(class="dropdown")
							a(class="dropdown-toggle hvr-push" href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								span(class="glyphicon glyphicon-user" aria-hidden="true")
								span(class="caret")
							ul(class="dropdown-menu")
								li
									a(href="#") Ingresar
								li
									a(href="#") Registrarse
		block contenido